@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Repair Shop</h1>
    <img src="https://dcba.lacounty.gov/wp-content/uploads/2017/10/CarRepairs.jpg" alt="Car repair"/>
</div>

